.card{
  position: relative;
  height: 300px;
  width: 300px;
  border-width: 3px;
  border-style: solid;
  border-color: #a9f04d;
  border-radius: 10px;
  margin: 10px;
}

.close{
  color: rgb(66, 66, 66);
  width: fit-content;
  height: fit-content;
  border: transparent;
  background-color: transparent;
  font-size: x-large;
  position: relative;
  top: -330px;
  left: 135px;
  z-index: 1;
}

.close:hover{
  color: rgb(255, 0, 0);
  cursor: pointer;
  z-index: 2;
}

.image{
  border-radius: 5px;
  position: relative;
  top: -28px;
}

.name:hover{
  position: relative;
  color: #eb0258;
}

.datos{
  padding: 5px;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color:transparent;
  font-family: 'Cascadia Code';
  color: transparent;
  position: relative;
  top: -165px;
  border-radius: 10px;
  height:40px;
  margin: 5px;
  transition: all 0.5s;
}
.card:hover .datos{
  background-color: #551bb3e2;
  color: #dbf73b;
  transition: all 0.5s;
}
.species{
  margin: 2px;
  font-size: small;
}
.gender{
  align-content: flex-start;
  margin: 2px;
  font-size: small;
}
.fav{
  position: relative;
  top: 25px;
  z-index: 2;
  left: -135px;
}

.button{
  background-color: transparent;
  border: 0px;
  font-size: larger;
}
.button:hover{
  cursor: pointer;
}

.name{
  color: #dbf73b;
  width: fit-content;
  border-radius: 5px;
  font-family: 'Cascadia Code';
  background-color: #551bb3e2;
  position: relative;
  top: -30px;
}
.link{
  background-color: #eb0258;
  width: fit-content;
  position: relative;
  top: -340px;
  left: 5px;
  z-index: 1;
}