.card{
  height: 300px;
  width: 300px;
  border-width: 3px;
  border-style: solid;
  border-color: #a9f04d;
  background-color: rgb(16, 18, 23);
  border-radius: 10px;
  margin: 10px;
}

.close{
  color: rgb(66, 66, 66);
  border: transparent;
  background-color: transparent;
  font-size: x-large;
  position: relative;
  top: -305px;
  left: 135px;
}

.close:hover{
  color: rgb(255, 0, 0);
  cursor: pointer;
  
}

.image{
  border-radius: 5px;
}

.name{
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
  color: #3ddb8f;
  font-family: 'Cascadia Code';
  background-color: #551bb3e2;
  font-size: large;
  position: relative;
  top: -345px;
  left: 10px;

}
.datos{
  padding: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color:transparent;
  font-family: 'Cascadia Code';
  color: transparent;
  position: relative;
  top: -145px;
  left: -5px;
  border-radius: 10px;
  height:40px;
  margin: 5px;
  transition: all 1s;
}
.card:hover .datos{
  background-color: #551bb3e2;
  color: #3ddb8f;
  transition: all 1s;
}
.species{
  margin: 2px;
}
.gender{
  margin: 2px;
  margin-left: 10px;
}



